/* Import Fonts to match the design */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

.gls-core-values {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.gls-core-values__container {
  max-width: 1320px; /* Bootstrap container max-width */
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

/* Header Styles */
.gls-core-values__header {
  margin-bottom: 70px;
}

.gls-core-values__subheading {
  font-family: 'Tangerine', cursive;
  text-transform: capitalize;
  font-weight: 100;
  display: inline-block;
  position: relative;
  padding-left: 80px;
  line-height: 1;
  margin-bottom: 10px;
}

.gls-core-values__subheading::after {
  content: '';
  position: absolute;
  left: 0;
  width: 60px;
  border-bottom: 1px solid; /* Color set via Liquid */
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.gls-core-values__heading {
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

/* List Item Styles */
.gls-core-values__rows {
  display: flex;
  flex-direction: column;
}

.gls-core-values__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-bottom: 30px;
  /* Border color set via Liquid */
}

.gls-core-values__item:last-child {
  border-bottom: 0 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

.gls-core-values__number {
  flex: 0 0 30px;
  font-weight: 400;
}

.gls-core-values__icon {
  flex: 0 0 60px;
  margin-left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.gls-core-values__icon svg,
.gls-core-values__icon img {
  width: 100%;
  height: auto;
  display: block;
}

.gls-core-values__content {
  flex: 1;
  margin-left: 60px;
}

.gls-core-values__item-title {
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 0 10px;
  line-height: 1.2;
}

.gls-core-values__item-text {
  margin: 0;
  line-height: 1.6;
}

.gls-core-values__item-text p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 576px) {
  .gls-core-values__item {
    flex-direction: column;
  }

  .gls-core-values__icon,
  .gls-core-values__content {
    margin-left: 0;
  }

  .gls-core-values__icon {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  
  .gls-core-values__number {
    margin-bottom: 10px;
  }
}
